/*************************
retina specific media query
*************************/

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    background-image: url("../img/old_moon@2X.jpg");
}


/*************************
styes for small/mobile screens
*************************/

@media screen and (min-width: 250px) {

	body {
		background-image: url("../img/subtle_grunge.png");
		font-size: 100%;   /* 1 em = 16px   */
		margin: auto;
	}

	.main-wrapper {
		width: 95%;
		margin: auto;
		margin-top: .4375em; /* 7px */
	}


	#home-intro, #wedparty-intro, #our-story-header, #rsvp-header{
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#wedparty-intro h1, #our-story-header h1, #rsvp-header h1 {
		font-size: 3em; /* 48px */
		font-family: 'Pinyon Script', cursive;

	}

	#wedparty-intro h3{
		font-family: 'Playfair Display SC', serif;
		color: tomato;
		margin-bottom: .75em; /* 12px */
		font-weight: bold;
		font-size: 1.2em;
	}

	#wedparty-intro h1, #our-story-header, #rsvp-header {
		font-weight: bold;
	}


	#wedparty-intro, #our-story-header, #rsvp-header {
		margin-bottom: .625em; /* 10px */
	}

	#home-intro, #our-story-header, #wedparty-intro, #rsvp-header {
		margin-top: 2em;  /* 32px */
	}

	#accommodations h1 {
		/* margin context is 48 for whatever reason */
		margin-top: .66666667em; /* 32px */
		font-family: 'Pinyon Script', cursive;
		font-size: 3em;  /* 48px */ 
		font-weight: bold;
		margin-bottom: .2083em; /* 10px */
	}



	#home-intro {
		font-weight: bold;
		font-family: 'Pinyon Script', cursive;
	}




	#home-intro h3 {
		font-family: 'Playfair Display SC', serif;
		margin-bottom: .75em; /* 12px */
		color: tomato;
	}

	#home-intro h1 {
		font-size: 3em; /* 48px */
		margin-bottom: .1875em; /* 3px */
	}

	/*#home-intro h3:first-of-type {
		color: tomato;
	}*/

	#details {
		font-family: 'Pinyon Script', cursive;
		font-size: 1.75em;  /* 28px */
		margin-bottom: 1.5em;  /* 24px */
		font-weight: bold;
	}

	#ceremony, #reception {
		font-family: 'Playfair Display SC', serif;;
	}

	#ceremony h2, #reception h2, #bridesmaids h2, #groomsmen h2,
	#ring-bearers h2, #groom h2, #bride h2 {
		font-weight: bold;
		font-size: 1.5em;  /* 24px */
		margin-bottom: 1em;  /* 16px */
		color: tomato;
	}

	#ceremony p, #reception p, .hotel-grouper p {
		margin-bottom: .25em; /* 4px */
	}

	#ceremony {
		margin-bottom: 1.5em;  /* 24px */
	}

	#reception li, .wedding-party li {
		margin-bottom: .25em; /* 4px */
	}

	#reception {
		margin-bottom: 2em; /* 36px */
	}



	#our-story {
		width: 100%;
		margin: auto;
		text-align: center;
		font-family: 'Playfair Display SC', serif;
	}

	.group:after {
  	content: "";
  	display: table;
  	clear: both;
	}



	nav {
		display: none;
		width: 100%;
		margin: auto;
		font-family: 'Playfair Display SC', serif;
		margin-bottom: 2em;  /* 32px  */
		margin-top: 1em;  /* 16px  */

	}

	nav ul {
		text-align: center;
		width: 100%;
		margin: none;
		padding: 0;
	}

	nav ul li {
		list-style-type: none;
		list-style-position: outside;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		display: block;
		margin: 0 auto 10px auto;
		border: 2px solid black;
		background-color: tomato;
	}

	nav ul li:hover {
		background-color: white;
	}

	nav ul li a {
		text-decoration: none;
		color: black;
		text-align: center;
		font-size: 1.5em;	
	}

	.navigation, .main-banner-photo {
		width: 100%;
		margin: auto;
		display: block;
	}

	.navigation img {
		width: 48px;
		height: 48px;
		
	}

	.navigation .button {
		background-color: tomato;
		border: none;
		font-size: 1.5em;
		font-family: 'Playfair Display SC', serif;
	}

	.navigation .button:hover {
		background-color: white;		
	}

	.main-banner-photo {
		margin-bottom: .75em;  /* 12px  */
		display: block;
	}


	.main-banner-photo img {

		max-width: 100%;
		margin: auto;
		display: block;
	}


	#wed_details {
		text-align: center;
		margin: auto;
	}

	#wed_details ul {
		list-style-type: none;
		list-style-position: inside;
		text-align: center;
		padding: 0;
	}


	footer {
		width: 100%;
		margin: auto;
		text-align: center;
		font-size: .625em;  /* 10px  */
		margin-bottom: 10px;
		font-family: 'Playfair Display SC', serif;
	}

	#bridesmaids, #groomsmen, #ring-bearers {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.wedding-party {
		list-style-position: inside;
		text-align: center;
		padding: 0;
	}

	.wedding-party li:first-child {
		font-weight: bold;
	}

	#ring-bearers .wedding-party li {
		font-weight: normal;
	}

	#accommodations {
		text-align: center;
		margin: auto;
	}

	#map-canvas, #map-canvas2, #map-canvas3, #map-canvas4 {
		width: 100%;
		height: 250px;
		background-color: #CCC;
		margin: auto;
	}

	#howard, #quality, #hampton, #days {
		margin: auto;
	}

	#bridesmaids, #our-story {
		margin-top: 2em;
	}



	#bridesmaids, #groomsmen, #ring-bearers {
		margin-bottom: 1em;
		font-family: 'Playfair Display SC', serif;
	}

	#ring-bearers {
		margin-bottom: 2em;
	}

	#bride {
		margin-bottom: 1em;
	}

	#groom {
		margin-bottom: 2em;
	}

	#bride p, #groom p {
		font-family: 'Crimson Text', serif;
	}

	.hotel-grouper h2 {
		font-size: 1.5em;  /* 24px */
		font-family: 'Playfair Display SC', serif;
		margin-bottom: .5em;
	}

	.hotel-grouper h2 > a:visited {
		color: tomato;
	}

	footer a {
		color: black;
	}


	.hotel-grouper p {
		font-family: 'Playfair Display SC', serif;
		font-size: 1em;
	}

	.hotel-grouper {
		margin-bottom: 1em;
	}

	#quality .hotel-grouper h2,
	#howard .hotel-grouper h2,
	#hampton .hotel-grouper h2,
	#days .hotel-grouper h2 {
		/* context is 24 */
		margin-top: 1.5em; /* 12px */
	}

	#days {
		margin-bottom: 2em;
	}

	.typewriter {
		border: 1px solid gray;
	}

	#rsvp-body {
		font-family: 'Crimson Text', serif;
		margin: auto;
		text-align: center;
	}




}


/********************************
large mobile devices
********************************/

@media screen and (min-width: 550px) {

	nav ul li {
	

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 45%;
		margin: 5px 2.5% 5px 2.5%;
		float: left;
	}

	nav ul li a {
		text-decoration: none;
		color: black;
		text-align: center;
		font-size: 1.5em;	
	}



}







/********************************
styes for tablets/small laptops
********************************/
@media screen and (min-width: 720px) {

	.navigation {
		display: none;
	}

	nav {
		display: block;
	}








}                                      
                                                                                                                                                                                                                                                                                                          "