
/*************************
styes for small screens
*************************/

@media screen and (min-width: 320px) {

body {
	background-color: tomato;
	font-size: 100%;   /* 1 em = 16px   */
}

.main-wrapper {
	width: 95%;
	margin: auto;
}


#header-intro {
	width: 100%;
	margin: auto;
	text-align: center;
}

#our-story {
	width: 100%;
	margin: auto;
	text-align: center
}

nav {
	display: none;
	width: 100%;
	margin: auto;
}

nav ul {
	text-align: center;
	width: 100%;
	margin: none;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	list-style-position: outside;
	margin-bottom: 5px;
	width: 100%;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding-top: 5px;
	padding-bottom: 5px;	
}

nav ul li a {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 1.5em;	
}

.navigation, .main-banner-photo {
	width: 100%;
	margin: auto;
	display: block;
}

.navigation img {
	width: 48px;
	height: 48px;
}

.main-banner-photo img {

	max-width: 100%;
}

#our-story div h4 {
	font-size: 1.5em;
}

#our-story h5, #our-story div h4 {
	font-weight: bold;
}

#our-story h5 {
	font-size: 1.1em;
}

footer {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: .5em;  /* 8px  */
	margin-bottom: 10px;
}

#bridesmaids, #groomsmen, #ring-bearers {
	width: 100%;
	margin: auto;
	text-align: center;
}

.wedding-party {
	list-style-position: inside;
	text-align: center;
	padding: 0;
}












}