/*styles currently not working in IE 6, 7, 8 */


/* ADD WEB FONTS  */
/* ADD WEB FONTS  */


@font-face {
    font-family: 'cac_champagneregular';
    src: url('../fonts/cac_champagne-webfont.eot');
    src: url('../fonts/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cac_champagne-webfont.woff2') format('woff2'),
         url('../fonts/cac_champagne-webfont.woff') format('woff'),
         url('../fonts/cac_champagne-webfont.ttf') format('truetype'),
         url('../fonts/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'england_hand_dbregular';
    src: url('../fonts/england-webfont.eot');
    src: url('../fonts/england-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/england-webfont.woff2') format('woff2'),
         url('../fonts/england-webfont.woff') format('woff'),
         url('../fonts/england-webfont.ttf') format('truetype'),
         url('../fonts/england-webfont.svg#england_hand_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/greatvibes-regular-webfont.eot');
    src: url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Playfair-Display-SC-Bold';
    src:url('../fonts/Playfair-Display-SC-Bold.ttf.woff') format('woff'),
        url('../fonts/Playfair-Display-SC-Bold.ttf.svg#Playfair-Display-SC-Bold') format('svg'),
        url('../fonts/Playfair-Display-SC-Bold.ttf.eot'),
        url('../fonts/Playfair-Display-SC-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson-Text';
    src:url('../fonts/Crimson-Text.ttf.woff') format('woff'),
        url('../fonts/Crimson-Text.ttf.svg#Crimson-Text') format('svg'),
        url('../fonts/Crimson-Text.ttf.eot'),
        url('../fonts/Crimson-Text.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pinyon-Script';
    src:url('../fonts/Pinyon-Script.ttf.woff') format('woff'),
        url('../fonts/Pinyon-Script.ttf.svg#Pinyon-Script') format('svg'),
        url('../fonts/Pinyon-Script.ttf.eot'),
        url('../fonts/Pinyon-Script.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair-Display-SC';
    src:url('../fonts/Playfair-Display-SC.ttf.woff') format('woff'),
        url('../fonts/Playfair-Display-SC.ttf.svg#Playfair-Display-SC') format('svg'),
        url('../fonts/Playfair-Display-SC.ttf.eot'),
        url('../fonts/Playfair-Display-SC.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}



/*************************
retina specific media query
*************************/



@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {

body { 
    background-image: url("../img/old_moon@2X.jpg");
}

}

/*************************
styes for small/mobile screens
*************************/

@media screen and (min-width: 250px) {

	body {
		background-image: url("../img/subtle_grunge.png");
		font-size: 100%;   /* 1 em = 16px   */
		margin: auto;
	}

	.main-wrapper {
		width: 95%;
		margin: auto;
		margin-top: .4375em; /* 7px */
	}


	#home-intro, #wedparty-intro, #our-story-header, #rsvp-header{
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#wedparty-intro h1, #our-story-header h1, #rsvp-header h1 {
		font-size: 3em; /* 48px */
		font-family: 'Pinyon-Script', serif;

	}

	#wedparty-intro h3{
		font-family: 'Playfair-Display-SC-Bold', serif;
		color: tomato;
		margin-bottom: .75em; /* 12px */
		font-size: 1.2em;
	}

	/*#wedparty-intro h1, #our-story-header, #rsvp-header {
		font-weight: bold;
	}*/


	#wedparty-intro, #our-story-header, #rsvp-header {
		margin-bottom: 2em; /* 10px */
	}

	#home-intro, #our-story-header, #wedparty-intro, #rsvp-header {
		margin-top: 2em;  /* 32px */

	}

	.special {
		font-family: 'Pinyon-Script', serif;
		font-size: 1.5em;
		/*font-weight: 900;*/
	}

	



	#home-intro {
	/*	font-weight: bold;*/
		font-family: 'Pinyon-Script', serif;
		margin-bottom: 2em;
	}




	#home-intro h3 {
		font-family: 'Playfair-Display-SC', serif;
		margin-bottom: .75em; /* 12px */
		color: tomato;
	}

	#home-intro h1 {
		font-size: 3em; /* 48px */
		margin-bottom: .1875em; /* 3px */
	}



	#details {
		font-family: 'Pinyon-Script', serif;
		font-size: 1.75em;  /* 28px */
		margin-bottom: 1.5em;  /* 24px */
		/*font-weight: bold;*/
	}

	#details p:first-child {
		font-family: 'Playfair-Display-SC', serif;
		color: tomato;
		font-size: 32px;
		margin-bottom: 20px;
	}

	#ceremony, #reception {
		font-family: 'Playfair-Display-SC', serif;
	}


	#ceremony h2, #reception h2, #bridesmaids h2, #groomsmen h2,
	#ring-bearers h2, #groom h2, #bride h2 {
		font-weight: bold;
		font-size: 1.5em;  /* 24px */
		margin-bottom: 1em;  /* 16px */
		color: tomato;
	}


	#ceremony p, #reception p, .hotel-grouper p {
		margin-bottom: .25em; /* 4px */
	}

	#ceremony {
		margin-bottom: 1.5em;  /* 24px */
	}

	#reception li, .wedding-party li {
		margin-bottom: .25em; /* 4px */
	}

	#reception {
		margin-bottom: 2em; /* 36px */
	}



	#our-story {
		width: 100%;
		margin: auto;
		text-align: center;
		font-family: 'Crimson-Text', serif;
		margin-bottom: 3em;
		margin-top: 2.5em;

	}

	#our-story p {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.group:after {
  	content: "";
  	display: table;
  	clear: both;
	}



	nav {
		display: none;
		width: 100%;
		margin: auto;
		font-family: 'Playfair-Display-SC', serif;
		margin-bottom: 3em;  /* 48px  */
		margin-top: 1em;  /* 16px  */

	}

	nav ul {
		text-align: center;
		width: 100%;
		padding: 0;
	}

	nav ul li {
		list-style-type: none;
		list-style-position: outside;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		display: block;
		margin: 0 auto 10px auto;
		border: 2px solid black;
		background-color: tomato;
	}

	nav ul li:hover {
		background-color: white;
	}

	nav ul li a {
		text-decoration: none;
		color: black;
		text-align: center;
		font-size: 1.5em;
	
	}

	.navigation, .main-banner-photo {
		width: 100%;
		margin: auto;
		display: block;
	}


	.navigation .button {
		background-color: tomato;
		border: 2px solid black;
		font-size: 1.5em;
		font-family: 'Playfair-Display-SC', serif;
	}

	.navigation .button:hover {
		background-color: white;		
	}

	.main-banner-photo {
		margin-bottom: .75em;  /* 12px  */
		display: block;
		max-width: 1000px;
	}


	.main-banner-photo img {

		max-width: 100%;
		margin: auto;
		display: block;
	}


	#wed_details {
		text-align: center;
		margin: auto;
		margin-bottom: 2em;
		margin-top: 1.5em;
	}

	#wed_details ul {
		list-style-type: none;
		list-style-position: inside;
		text-align: center;
		padding: 0;
	}


	footer {
		width: 100%;
		margin: auto;
		text-align: center;
		font-size: .625em;  /* 10px  */
		margin-bottom: 10px;
		font-family: 'Playfair-Display-SC', serif;
	}

	#bridesmaids, #groomsmen, #ring-bearers {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.wedding-party {
		list-style-position: inside;
		text-align: center;
		padding: 0;
	}


	#ring-bearers .wedding-party li {
		font-weight: normal;
	}

	#accommodations {
		text-align: center;
		margin: auto;
		margin-bottom: 3em;
	
	}

	#accommodations h1 {
		/* margin context is 48 for whatever reason */
		margin-top: .66666667em; /* 32px */
		font-family: 'Pinyon-Script', serif;
		font-size: 3em;  /* 48px */ 
		/*font-weight: bold;*/
		margin-bottom: .66666667em; /* 32px */
	}

	#map-canvas, #map-canvas2, #map-canvas3, #map-canvas4 {
		width: 100%;
		height: 200px;
		background-color: #CCC;
		margin: auto;
		border: 2px solid gray;
	}

	#howard, #quality, #hampton, #days {
		margin: auto;
	}

	#bridesmaids {
		margin-top: 2em;
	}



	



	#bridesmaids, #groomsmen, #ring-bearers {
		margin-bottom: 1em;
		font-family: 'Playfair-Display-SC', serif;
	}

	#bridesmaids, #groomsmen {
		margin-bottom: 3em;
	}

	#ring-bearers {
		margin-bottom: 2em;
	}

	#bride {
		margin-bottom: 1em;
	}

	

	#bride p, #groom p {
		font-family: 'Crimson-Text', serif;
	}

	.hotel-grouper h2 {
		font-size: 1.5em;  /* 24px */
		font-family: 'Playfair-Display-SC', serif;
		margin-bottom: .5em;
	}

	.hotel-grouper h2 > a:link {
		color: tomato;
	}

	.hotel-grouper h2 > a:visited {
		color: tomato;
	}



	footer a {
		color: black;
	}


	.hotel-grouper p {
		font-family: 'Playfair-Display-SC', serif;
		font-size: 1em;
	}

	.hotel-grouper {
		margin-bottom: 1em;
	}

	#quality .hotel-grouper h2,
	#howard .hotel-grouper h2,
	#hampton .hotel-grouper h2,
	#days .hotel-grouper h2 {
		/* context is 24 */
		margin-top: 1.5em; /* 12px */
	}

	#days {
		margin-bottom: 2em;
	}

	.typewriter {
		border: 1px solid gray;
	}

	#rsvp-body {
		font-family: 'Crimson-Text', serif;
		margin: auto;
		text-align: center;
		width: 100%;
		margin-top: 2em;
		margin-bottom: 3em;
	}

	#rsvp-body p {
		margin-bottom: 1em;
		font-size: 18px; 
	}



	#dinner-choices li {
		margin-bottom: .25em;
	}

	.info {
		margin: 0 1em 0 1em;
		font-family: 'Playfair-Display-SC', serif;
	}

	.info h2 {
		font-weight: bold;
		font-size: 1.5em; 
		margin-bottom: .5em;
	}

	.info li {
		margin-bottom: .30em;
	}

	.info a:visited, .info a {
		color: black;
	}

	.info a:hover {
		color: tomato;
	}

	#party-container {
		margin-bottom: 2em;
	}

	#hotel-details  {
		font-family: 'Crimson-Text', serif;
		margin: 2em auto 0 auto;
		font-size: 18px;
	}

	#intextphoto img {
		float: left;
		max-width: 50%;
		display: block;
		margin-right: 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		border: 1px gray solid;
	}

	#intextphoto2 img, #intextphoto3 img {
		float: right;
		max-width: 50%;
		display: block;
		margin-left: 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		border: 1px gray solid;
	}

}


/********************************
large mobile devices
********************************/

@media screen and (min-width: 550px) {


	.main-wrapper {
		width: 90%;
	}
	
	nav ul li {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 48%;
		margin-top: 5px;
		margin-bottom: 5px;
		float: left;
	}

	nav ul li:nth-child(odd) {
		margin-left: 0;
		margin-right: 2%;
	}

	nav ul li:nth-child(even) {
		margin-right: 0;
		margin-left: 2%;
	}

	#map-canvas, #map-canvas2, #map-canvas3, #map-canvas4 {
		height: 300px;
	}

}


/*************************************
STYLES FOR TABLETS/SMALL LAPTOPS 780PX
*************************************/
@media screen and (min-width: 780px) {

	.navigation {
		display: none;
	}

	nav {
		display: block;
		padding: .5em 0 .5em 0;
		border-bottom: 3px double black;
		border-top: 3px double black;
	}

	nav ul {
		/* using flexbox for nav layout*/
		text-align: center;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center;

	}

	/* ASSIGNING FLEX GROW VALUES TO LIST ITEMS*/


	.nav-list {
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		flex-grow: 1;
	}

	.nav-list.med {
		-webkit-flex-grow: 8;
		-moz-flex-grow: 8;
		flex-grow: 8;
	}

	.nav-list.large {
		-webkit-flex-grow: 6;
		-moz-flex-grow: 6;
		flex-grow: 6;
	}



	.group .nav-list {
		width: 17%;
		margin: auto;
		background: none;
		border: none;

	}


	nav ul li a {
		font-size: 1.4em;
	}


	nav ul li a:hover {
		color: tomato;
		border-bottom: 1px tomato solid;
	}



	#home-intro h3 {
		font-size: 1.2em;
	}

	#home-intro h1 {
		font-size: 4em; /* 64px */
		margin-bottom: .1875em; /* 3px */
	}

	#wedparty-intro h1, #our-story-header h1, #rsvp-header h1, #accommodations h1 {
		font-size: 4em; /* 64px */
	}

	#wedparty-intro h3 {
		font-size: 1.5em;
	}



	#home-intro h1:last-child {
		margin-bottom: .5em;
	}

	#details {

		font-size: 2.5em; /* 40px */
	}

	/*separate ceremony and reception info into two columns */
	#ceremony {
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		float: left;
		margin-bottom: none;
	}

	#reception {
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		float: right;
		margin-bottom: none;
	}





	#bride, #groom {
		/* separate bride and groom into separate columns*/
		width: 50%;
		float: left;
	}


	

	footer {
		clear: both;
	}

	#wed_details {
		clear: both;
	}

	#howard, #quality, #hampton, #days {
		width: 47.5%;
		float: left;
	}

	#howard, #hampton {
		margin-right: 5%;
	}

	#bridesmaids, #groomsmen {
		width: 50%;
		float: left;
		margin-bottom: 2em;
	}

	#groomsmen {
		margin-top: 2em;
	}

	#ring-bearers {
		width: 50%;
		float: left;
	}

	#hotel-details {
		max-width: 500px;
	}


	/* STYLES FOR COLUMNS ON THEIR STORY PAGE*/

	#column1 {
		float: left;
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	#column2 {
		float: right;
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	#intextphoto {
		width: 100%;
		display: inline;
	}

	#intextphoto img, #intextphoto2 img, #intextphoto3 img {
		float: none;
		max-width: 90%;
		margin: 15px auto 15px auto;
	}




}


/*********************
965 PIXELS - FLEX GROW
*********************/

	/* ASSIGNING FLEX GROW VALUES TO LIST ITEMS*/


	/*.nav-list.small {
		flex-grow: 1;
	}*/

	.nav-list.medium {
		-webkit-flex-grow: 2;
		-moz-flex-grow: 2;
		flex-grow: 2;
	}

	/*.nav-list.large {
		flex-grow: 6;
	}*/




/********************************
1000 pixels plus
********************************/

@media screen and (min-width: 1000px) { 

	

	#map-canvas, #map-canvas2, #map-canvas3, #map-canvas4 {
		height: 350px;
	}

	#intextphoto img {
		float: left;
		max-width: 50%;
		margin: 15px 15px 20px 0;
	}

	#intextphoto2 img, #intextphoto3 img {
		float: right;
		max-width: 50%;
		margin: 15px 0 20px 15px;

	}


	/* ASSIGNING FLEX GROW VALUES TO LIST ITEMS*/


	.nav-list.med {
		-webkit-flex-grow: 3;
		-moz-flex-grow: 3;
		flex-grow: 3;
	}

	.nav-list.large {
		-webkit-flex-grow: 3;
		-moz-flex-grow: 3;
		flex-grow: 3;
	}

	#bridesmaids {
		width: 30%;
		margin-right: 5%;
		margin-left: 0%;
		float: left;
		margin-top: 2em;
	}

	#groomsmen {
		width: 30%;
		float: left;
		margin-top: 2em;
	}

	#ring-bearers {
		width: 30%;
		float: left;
		margin-left: 5%;
		margin-right: 0%;
		margin-top: 2em;
	}

}



	/********************************
	1200 pixels plus
	********************************/
@media screen and (min-width: 1200px) { 

	#ceremony {
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
		float: left;
		margin-bottom: none;
	}

	#reception {
		width: 40%;
		margin-right: 5%;
		margin-left: 5%;
		float: right;
		margin-bottom: none;
	}

	#bridesmaids {
		width: 25%;
		margin-left: 7.5%;
		margin-right: 2.5%;

	}

	#groomsmen {
		width: 25%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	#ring-bearers {
		width: 25%;
		margin-right: 7.5%;
		margin-left: 2.5%;
	}

	#column1 {
		width: 35%;
		margin-right: 2.5%;
		margin-left: 12.5%;
	}

	#column2 {
		width: 35%;
		margin-left: 2.5%;
		margin-right: 12.5%;
	}





}                                    
                                                                                                                                                                                                                                                                                                          "